* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button {
  outline: 0;
  border: 0;
}

.content-margin {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

body {
  background: #e6dcf0;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}